
<!-- 特定文章组件html显示 -->
<% if(1==1) {

    var p = {
        cmsWidgetbase: cmsWidgetbase!
    };

    var articlespecialwidget;
    if(isNotEmpty(p.cmsWidgetbase.id)){
        articlespecialwidget=@ArticleSpecialWidgetUtil.getArticleSpecialWidget(p.cmsWidgetbase.id);
    }

%>

<div class="colContent row">
    <div class="additional zone">
        <div style="">
            <div class="widget ">
                <div class="panel panel-default">
                    <% if(isNotEmpty(cmsWidgetbase.title)){ %>
                    <div class="panel-heading">
                        ${cmsWidgetbase.title}
                    </div>
                    <% } %>
                    <div class="panel-body">
                        <div class="article-detail">
                            <div class="page-header">
                                <h1 class="align-center">

                                </h1>
                                <div class="align-right">
                                        <span>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            33
                                        </span>
                                    <span>
                                            <i class="glyphicon glyphicon-user"></i>
                                            ZKEASOFT
                                        </span>
                                    <span>
                                            <i class="glyphicon glyphicon-calendar"></i>
                                            2019/09/12
                                        </span>
                                    <a href="/admin/article/edit/1?ReturnUrl=%2Fmytest01">编辑</a>
                                </div>
                            </div>
                            <div class="panel-body detail clearfix">

                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6">

                                    </div>
                                    <div class="col-sm-6 text-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% } %>

